* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.travel-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

section {
  padding: 20px;
}

.card-list {
  display: flex;
}

.card-row {
  display: flex;
  flex-direction: column;
  width: 350px;
  overflow-x: hidden;
}

.card-column {
  padding: 10px;
}