* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.travel-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

section {
  padding: 20px;
}

.card-list {
  padding: 20px;
 
}

.card-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.card-column {
  padding: 10px;
}